*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}
.container{
    height: max-content;
}

.logo{
    width: 65px;
    margin-left: 7.5px;
}

/Header/
.navbar{
    width: 100%;
    height: 12vh;
    background-color: #000000eb;
    margin: auto;
    display: flex;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 2px;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: rgb(73, 90, 107);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding: 0 20px;
    border-radius: 5px;
}
.nav-links ul li a:hover{
    color: rgb(247, 91, 35);
    transition: 3s ease-out;
}

.form{
    height: 125vh;
    display: flex;
    text-align: center;
    font-family: sans-serif;
    justify-content: center;
    background: url(cimg/login.jpg);
    background-size: 100%;    
    background-position: center;
}
.login{
    position: relative;
    margin-top: 15vh;
    width: 400px;
    height: max-content;
    background: whitesmoke;
    padding: 60px 40px;
    border-radius: 5%;
}
.form .login h1{
    font-size: 40px;
    margin-bottom: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form .login .input-field, .button{
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 100%;
}
.form .login .input-field input{
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 15px;
    font-size: 19px;
    transition: .4s;
    border-radius: 3%;
}
.form .login form .input-field input:focus{
    border: 1px solid #4fda25;
}
.form .login .input-field label, span.show{
    position: absolute;
    top: 50%;    
    transform: translateY(-50%);
    
}
.form .login .input-field label{
    left: 15px;
    pointer-events: none;
    color: grey;
    font-size: 18px;
    transition: .4s;
}
.form .login .input-field  span.show{
    right: 20px;
    color: #111;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    visibility: hidden;
}
.form .login .input-field input:valid ~ span.show{
    visibility: visible;
}
.form .login .input-field input:focus ~ label,
.form .login .input-field input:valid ~ label{
    transform: translateY(-33px);
    background: white;
    font-size: 16px;
    color: rgb(56, 155, 135);
}
.form .login .button{
    margin-top: 30px;
    overflow: hidden;
    z-index: 111;
    border-radius: 10%;
}
.form .login .button .inner{
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    z-index: -1;
    background: -webkit-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
}
.form .login .button button{
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: none;
    background: none;
    outline: none;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
}

/signup/
.form .auth{
    margin: 35px 0 20px 0;
    font-size: 19px;
    color: gray;
}
.form .fonts{
    display: flex;
    cursor: pointer;
}
.form .fonts .facebook, .google{
    height: 40px;
    width: 100%;
    border: 1px solid silver;
    border-radius: 3px;
    margin: 0 10px;
}
.form .fonts .facebook i, .facebook span{
    color: #4267b2;
}
.form .fonts .google i, .google span{
    color: #dd4b39;
}

.form .fonts i{
    font-size: 23px;
    line-height: 40px;
    margin-left: -90px;
}
.form .fonts span{
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    padding-left: 8px;
    font-family: 'Open Sans', sans-serif;
}
.form .signup{
    margin-top: 50px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}
.form .signup a{
    color: #3498db;
    text-decoration: none;
}
.form .signup a:hover{
    text-decoration: underline;
}




/Footer/
.footer-container{
    background-color: #212329;
    padding:30px 0 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 100%;
}
.footer{
    width: 80%;
    height: 25vh;
    background-color: #212329;
    color: azure;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.footerhead{
    display: flex;
    flex-direction: column;
    margin-right: 15vh;
}
.footerhead h2 {
    margin-bottom: 30px;
}
.footerhead a {
    color: blanchedalmond;
    text-decoration: none;
    margin-bottom: 6.5px;
}
.footerhead a:hover{
    color: rgb(236, 43, 9);
    transition: 0.3s ease-out;
}
.footer-container p{
    text-align: center;
}